<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 允许程序改变网络链接状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序访问访问WIFI网络状态信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 允许程序改变WIFI链接状态 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.login.MultiActivity"
            android:label="@string/title_activity_change_psd"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.setting.LanguageSetActivity"
            android:label="@string/title_activity_language_set"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.setting.AboutAppActivity"
            android:label="@string/title_activity_about_app"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.setting.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.news.AddKeyActivity"
            android:label="@string/title_activity_add_key"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.news.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.me.SetMirrorActivity"
            android:label="@string/title_activity_set_mirror"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.wifi.WifiListActivity"
            android:label="@string/title_activity_wifi_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.wifi.BindWifiActivity"
            android:label="@string/title_activity_bind_wifi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.wifi.PairingWifiActivity"
            android:label="@string/title_activity_pairing_wifi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.me.MeActivity"
            android:label="@string/title_activity_me"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".base.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.me.EditGenderActivity"
            android:label="@string/title_activity_edit_gender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.me.EditHeaderActivity"
            android:label="@string/title_activity_edit_header"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.stock.StockSearchActivity"
            android:label="@string/title_activity_stock_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.stock.StockActivity"
            android:label="@string/title_activity_stock"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.stock.StockEditActivity"
            android:label="@string/title_activity_stock_edit"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.stock.StockAddKeyActivity"
            android:label="@string/title_activity_stock_add_key"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".base.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.Translucent">
        </activity>
        <activity
            android:name=".module.calendar.AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>